<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
        }
        .portfolio-item {
            margin-bottom: 30px;
        }
        .header-text {
            text-align: left;
        }
        .project-name {
            color:#0f85d3;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="header-text">
            <h1>Portfolio</h1>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="https://via.placeholder.com/700x400" class="img-fluid" alt="Project Image">
                <h3 class="project-name">Project Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="https://via.placeholder.com/700x400" class="img-fluid" alt="Project Image">
                <h3 class="project-name">Project Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item">
                <img src="https://via.placeholder.com/700x400" class="img-fluid" alt="Project Image">
                <h3 class="project-name">Project Name</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
